@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
}

#wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#text {
  cursor: default;
  width: 100%;
  font-family: "Open Sans";
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  color: #eee;
  z-index: 3;
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%; height: 100%; font-weight: bold; text-align: center;
  margin-top: 2px;
}

#wrapper .container {
  position: absolute;
  left: calc(50vw - 4px - 350px / 2);
  top: calc(50vh + 290px - 10px / 2);
  height: 43px;
  width: 350px;
}


#wrapper .container .bar {
  display: block;
	height: 100%;
	width: 100%;
	border-radius: 20px;
	background-color: #f0a3a3;
	background-image: -moz-linear-gradient(top, #f0a3a3, #ff0197);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f0a3a3), color-stop(1, #ff0197));
	background-image: -webkit-linear-gradient(#f0a3a3, #ff0197);
	-webkit-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
	position: relative;
	overflow: hidden
}

#wrapper .container .bar:after{


  content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
	background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
	z-index: 1;
	-webkit-background-size: 50px 50px;
	-moz-background-size: 50px 50px;
	-webkit-animation: moveProgress 2s linear infinite;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-top-right: 8px;
	-moz-border-radius-bottom-right: 8px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-top-left: 20px;
	-moz-border-radius-bottom-left: 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	overflow: hidden
}


@keyframes moveProgress {
	0% {
		background-position: 0 0
	}

	100% {
		background-position: 50px 50px
	}

}
